:host {
    display: flex;
    align-items: center;
    color: white;
}

button {
    border-radius: 2px;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    letter-spacing: 1.2px;
    color: #ffffff;
    background-color: #ff0000;
    border: 0;
    cursor: pointer;
}
