html {
  /*height: 100vh;*/
  display: flex;
}

body {
  height: 100vh;
  margin: 0px;
  display: flex;
  width: 100vw;
  align-items: stretch;
}

my-app {
  height: 100vh;
  margin: 0px;
  display: flex;
  width: 100vw;
  align-items: stretch;
}

* {
  background-color: #505160;
  font-family: 'Helvetica', Tahoma, Geneva, Verdana, sans-serif;
}
